<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">

	<properties>
		<property name="LOG_HOME">D:/log/lejane</property>
		<property name="FILE_NAME">lejane</property>
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p][%F:%L] [%thread] - %msg%n" />
		</Console>

		<RollingRandomAccessFile name="running-log"
			fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout
				pattern="[%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p][%F:%L] [%thread] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Logger name="org.wate" level="trace"
			additivity="true">
			<AppenderRef ref="running-log" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>